.register-page {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  margin-left: -15px;
  margin-right: -15px;

  &__image {
    padding: 0px 0rem;

    &__logo {
      margin: 0 auto;
      max-width: 90%;
      height: auto;
    }
  }

  &__form {
    padding: 3vw !important;
    height: 100%;
    width: 50vw !important;

    &__title {
      text-transform: lowercase !important;
      color: var(--theme-green);
    }

    &__light {
      color: var(--theme-dark-gray);
    
      a {
        text-decoration: none;
        color: var(--theme-green);

        &:hover {
          color: var(--theme-green-hover);
        }
      }
    }
  }

  &__btn {
    &--google {
      width: 100%;
      background: white;
      border: 2px solid var(--theme-dark-border);
      border-radius: 20em;
      transition: background 300ms, color 300ms, border 300ms;
      padding: 10px;
      font-size: 1.25rem;

      &:hover {
        background: var(--theme-green);
        color: white;
        border: 2px solid var(--theme-green);
      }
    }    

    &--submit {
      background: var(--theme-green);
      border-radius: 20em;
      width: 100%;
      border: none;
      padding: 10px;
      color: white;
      font-size: 1.25rem;
      transition: background 300ms;

      &:hover {
        background: var(--theme-dark-green);
      }
    }
  }

  &__img-google-logo {
    margin-right: 5px;
  }
  
  &__divider {
    background: var(--theme-light-border);
    height: 2.5px !important;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 20em;
    border-color: var(--theme-light-border);
    border-top: 1px solid rgba(0,0,0,.1);
  }

  &__top-form {
    padding: 1rem !important;
  }

  @media screen and (max-width: 768px) {
    &__image {
      display: none;
    }

    &__form {
      width: 80% !important;
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}


