.landing-page {
  height: 100vh;
  width: 100vw;
  background: url('../../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
  }

  &__container {
    height: fit-content;
    z-index: 1000;
  }

  &__title {
    color: white;
    font-size: 48px;
    font-weight: 900;
    font-family: "Lato" !important;
    text-align: center;
  }

  &__subtitle {
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-family: "Lato" !important;
    text-align: center;
    display: inline;
    margin: 0;
    height: 40px;
    min-width: 5px;

    &-block {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &__cursor {
    border-right: 1.5px solid white;
    width: 0px;
    height: 32px;
    animation: blink 650ms infinite;
  }

  &__subtitle, &__cursor {
    transform: translateX(-9px);
  }

  &__join-us {
    color: white;
    cursor: pointer;
    background: var(--theme-dark-green);
    width: 100px;
    padding: 5px;
    margin-top: 20px;
    font-weight: 500;
    font-family: "Quicksans" !important;
    border-radius: 8rem;
    outline: none;
    border: none;

    &:hover {
      background: #758b42;
    }
  }

  &__logo {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1000; 
    cursor: pointer;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
