.meeting-image-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  width: 100%;

  &__title {
    font-size: 3rem;
    display: inline;
  }

  &__images {
    width: 55vw;
    margin: 20px;
  }

  &__upload-button {
    background: #F2F2F2;
    border: 1px solid #999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 30px;
    padding: 30px;
    cursor: pointer;
    min-height: 250px;

    p {
      font-size: 20px;
      margin: 0;
    }
  }

  &__images-list {
    width: fit-content;
    overflow-y: scroll;
    margin-top: 10px;
    max-width: 100%;
    white-space: nowrap;
    padding-bottom: 15px;

    &--item {
      height: 120px;
      width: auto;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 20px;
      position: relative;
    }
  }

  &__delete {
    position: absolute;
    top: 5px;
    right: 15px;
    background: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }

  &__finish {
    background: black;
    padding: 5px;
    border-radius: 8rem;
    outline: none;
    border: none;
    width: 200px;

    &:hover {
      opacity: .8;
    }

    svg {
      path {
        fill: white;
      }
    }
  }
}

.image-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgb(0 0 0 / 90%);
  display: none;
  opacity: 0;
  transition: opacity 400ms;
  z-index: 40;

  &-show {
    display: flex;
    animation: imageBoxShow ease-in-out 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &-hide {
    display: flex;
    animation: imageBoxHide ease-in-out 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &-none {
    display: none;
  }

  img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    object-fit: contain;
  }
}

@keyframes imageBoxShow { 
  0% { 
      opacity: 0;
  } 
  1% { 
      opacity: 0;
  }
  100% { 
      opacity: 1;
  } 
} 

@keyframes imageBoxHide { 
  0% {
      opacity: 1;
  }
  100% { 
      opacity: 0;
  } 
} 